table {
    border-collapse: collapse;
    margin-bottom: 15px;
}


th, td {
    border: 1px solid black;
    text-align: center;
}

td {
    width: 100px;
    padding: 10px;
}
th {
    background-color: #f2f2f2;
}
