.form {
    max-width: 400px;
}

.form-label {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.form-label input {
    padding: 10px 0 10px 10px;
}

.cnt {
    display: flex;
    gap: 10px;
}
